@use '~material-icons/iconfont/material-icons';
@use '~bootstrap/dist/css/bootstrap.min';
@import '~bootstrap/scss/bootstrap-utilities';

// Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    'cursor': (
      property: cursor,
      values: auto default pointer wait text move help not-allowed,
    ),
  )
);

@import '~bootstrap/scss/bootstrap';

body {
  overflow-y: scroll;
}

.container {
  min-width: 21.5625rem;
}
