.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}

.left-side {
  img {
    width: 5.3125rem;
    user-select: none;
  }
}

.right-side {
  display: flex;
  flex-direction: row;

  & .email-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 1.3;

    & .email {
      font-weight: bold;
    }

    & .logout {
      user-select: none;
    }
  }

  & .image-section {
    img {
      border-radius: 50%;
      width: 4.0625rem;
      user-select: none;
    }
  }
}
